<div class="container">
  <!-- SIGN IN -->
  <div class="encart" *ngIf="!qrHAS">

    <mat-form-field appearance="outline">
      <mat-label>HIVE Username</mat-label>
      <input #username matInput placeholder="HIVE Username">
      <mat-icon matSuffix>https</mat-icon>
      <mat-hint>your HIVE Username</mat-hint>
    </mat-form-field>

    <!-- <div>HIVE Username</div>
    <div style="height:6px;"></div>
    <input #username type="text" /> -->
    <div style="height:6px;"></div>
    <div *ngIf="!loader">
      <button mat-raised-button color="primary" (click)="connect(username.value, 'HAS')"> HAS Connect</button>&nbsp;
      <button mat-raised-button color="primary" (click)="connect(username.value, 'KBE')"> KBE Connect</button>
    </div>
    <div *ngIf="loader" class="loader"></div>
  </div>
  
  <!-- QR Code -->
  <div class="encart" *ngIf="qrHAS">
    <div>{{ username }}</div>
    <qr-code
      [value]="'has://auth_req/' + qrHAS"
      [size]="192"
      [errorCorrectionLevel]="'M'"
    ></qr-code>
    <div *ngIf="loader" class="loader"></div>
  </div>
</div>
